# This needs to be renamed to 'config.toml' before it can be used.

[coinbase]
version = 1
api_key = "YOUR_COINBASE_API_KEY_HERE"
api_secret = "YOUR_COINBASE_API_SECRET_HERE"
debug = false
use_sandbox = true
